.About{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.About-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}
.About-col img{
    width: 100%;
}
.footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  